*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.curtain{
    width: 100%;
    height: 100vh;
    position: relative;
}
.curtain::before{
    content: " ";
    width: 50%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s;
    background-color: olive;
}
.curtain::after{
    content: " ";
    width: 50%;
    height: 100vh ;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.4s;
    background-color: olive;
}
.curtain:hover::before,
.curtain:hover::after{
    width: 0;
}
